<form action="/figures/new" method="POST">
<h3>Figure Name: <input type="text" name="figure[name]" id="name"></h3>
<h2>Title: <input type="text" name="figure[title_ids][]" id="figure[title_id]"></h3>
<h2>Landmark: <input type="text" name="figure[landmark_ids][]" id="figure[landmark_id]"></h3>
<input type="submit" value="submit" id="submit">
</form>
